# Database Configuration
MONGODB_URI=your MONGODB_URI

# API Keys
TMDB_API_KEY=your-tmdb-api-key-here
NEWS_API_KEY=your-news-api-key-here

# JWT Configuration
JWT_SECRET=your-jwt-secret-key-here

# Server Configuration
PORT=5000 