# Database Configuration
MONGODB_URI=mongodb+srv://username:password@your-cluster.mongodb.net/?retryWrites=true&w=majority&appName=Dashboard

# API Keys
TMDB_API_KEY=your-tmdb-api-key-here
NEWS_API_KEY=your-news-api-key-here

# JWT Configuration
JWT_SECRET=your-jwt-secret-key-here

# Server Configuration
PORT=5000 